.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react-datepicker {
  z-index: 1000; /* A high z-index to keep the date picker on top */
}



.app-container {
  padding: 20px;
}

.athletes-table {
  width: 100%; /* Full width for the table */
  border-collapse: collapse; /* Merge borders */
}

.athletes-table th, .athletes-table td {
  text-align: left; /* Left align text */
  padding: 8px; /* Cell padding */
  border: 1px solid #d3d3d3; /* Thin grey grid */
}

.athletes-table th {
  background-color: #f2f2f2; /* Light gray background for header */
  position: sticky; /* Sticky header */
  top: 0; /* Remain at the top of the table */
  /*z-index: 10; /* Ensure header is on top of table data */
}

/* Mobile CSS adjustments */
@media (max-width: 600px) {
  .input-container {
      flex-direction: column; /* Stack form elements vertically on mobile */
  }

  .input-container select,
  .input-container .date-picker,
  .input-container button {
      width: 100%; /* Full width on mobile */
      margin-right: 0; /* No right margin for full width */
      margin-bottom: 10px; /* Space between elements */
  }
}
.input-container {
  display: flex; /* Arrange inputs in a row */
  flex-direction: row; /* Ensure they are in a row */
  align-items: center; /* Center items vertically */
  margin: 15px 0; /* Margin for spacing */
}

.input-container select,
.input-container .date-picker,
.input-container button {
    padding: 10px; /* Consistent padding for comfort */
    font-size: 16px; /* Adjust font size for readability */
    margin-right: 10px; /* Margin between inputs */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Rounded corners for a rectangular appearance */
    width: auto; /* Allow browsers to choose the best width */
    min-width: 150px; /* Set a minimum width for mobile */
}

/*
.date-picker {
  width: 150px; /* Adjust width to make it smaller */


.date-picker {
  /* Make the date picker styled consistently */
  display: inline-block; 
  margin-top: 5px; /* Add margin on top to separate from the header */
}

.react-datepicker {
  z-index: 1000; /* A high z-index to keep the date picker on top */
}

