.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  padding: 20px;
}

.athletes-table {
  width: 100%;
  border-collapse: collapse; /* Merges borders for a cleaner look */
}

.athletes-table th, .athletes-table td {
  text-align: left; /* Left align text */
  padding: 8px; /* Add padding for table cells */
  border: 1px solid #d3d3d3; /* Thin grey grid */
}

.athletes-table th {
  background-color: #f2f2f2; /* Light gray background for header */
  position: sticky; /* Allows the header to stick */
  top: 0; /* Sticks to the top of the table */
  z-index: 10; /* Make sure the header is on top of the table data */
}

@media (max-width: 600px) {
  .athletes-table {
      display: block; /* Make table block to allow scrolling */
      overflow-x: auto; /* Allow horizontal scrolling */
      white-space: nowrap; /* Prevent table data from wrapping */
  }
}
.input-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  margin: 10px 0;
}

.input-container select,
.input-container input {
  padding: 10px; /* Padding for select/input elements */
  font-size: 16px; /* Font size for readability on mobile */
  margin: 5px 0; /* Margin to separate elements */
}

.date-picker {
  width: 100%; /* Make the date picker take the full width */
}

